<p>AppliedLoans</p>
<!--<div class="container">
    <h4 class="text-dark text-center">Applied Loans</h4>
    <br>
    <div class="card shadow-lg">
        <table class="table table-hover text-center">
            <thead style="background-color: #d6375a;" class="text-light">
                <tr>
                    <th>Applicant Name</th>
                    <th>Applicant Phone Number</th>
                    <th>Applicant PAN No</th>
                    <th>Applicant Address</th>
                    <th>Applicant Loan Id</th>
                    <th>Applicant Salary</th>
                    <th>Applicant Email</th>
                    <th>Applicant Aadhaar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let LoanApplicant of LoanApplicants'>
                    <td>{{LoanApplicant.applicantName}}</td>
                    <td>{{LoanApplicant.applicantMobile}}</td>
                    <td>{{LoanApplicant.applicantPan}}</td>
                    <td>{{LoanApplicant.applicantAddress}}</td>
                    <td>{{LoanApplicant.loanId}}</td>
                    <td>{{LoanApplicant.applicantSalary}}</td>
                    <td>{{LoanApplicant.applicantEmail}}</td>
                    <td>{{LoanApplicant.applicantAadhaar}}</td>
                    <td>
                        <div class="row">
                            <div class="col">
                                <button style="margin-right: 40px;" class="btn btn-success"
                                    (click)="appApprove(application)">
                                    Approve
                                </button>
                            </div>
                            <div class="col">
                                <button class="btn btn-danger" (click)="appReject(application)">
                                    Reject
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer shadow-lg" style="background-color: #d83845;">
    </div>
</div>
-->