<div class="container">
    <div class="row">
        <div class="">
            <div class="card">
                <div class="text-center"><h1>Contact Form</h1></div>
                    <form class="form">
                        <div class="mb-3">
                            <input type="text" class="form-control" placeholder="Enter Name" >
                        </div>
                        <div class="mb-3">
                          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email address" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" placeholder="Message" >
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>